  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


  body {
    background-color: #F8F9FA;
    font-family: 'Poppins';
    height: 100vh;
    overflow-y: auto;
  }

  header {
    background-color: #F8F9FA;
    padding: 20px;
    margin: 0 auto; 
  }
  .header-container{
    display: flex;
    background-color: #F8F9FA;
    max-width: 1240px;
    margin: 0 auto; 
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
  }
  .header-item {
    text-align: center;
    margin-bottom: 10px;
  }

  .header-item.left {
    width: 200px;
    font-size: 18px;
    color: #495057;
    font-weight: bold;
    text-align: left;
    width: 100%;
  max-width: 200px;
  }
  .header-item.right {
    width: 300px;
    font-size: 12px;
    color: #49505780;
    text-align: right;
    width: 100%;
  max-width: 300px;
  }
  .header-item.right a {
    margin-right: 20px;
  }

  .header-item.right svg {
    vertical-align: middle;
  }

  .header-item.middle {
    flex-grow: 1;
    font-size: 12px;
    color: #A0A5A8;
    text-align: center;
    
  }

  .header-item.middle ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .header-item.middle ul li {
    display: inline-block;
    margin-right: 20px;
  }

  .header-item.middle ul li:last-child {
    margin-right: 0;
  }
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #212529;
    margin-top: 60px;
  }

  .footer-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 1240px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .footer-middle {
    width: 100%;
    justify-content: center;
  }
  .footer-left{
    color: #F8F9FA;
    font-weight: bold;
    font-size: 18px;
    width: 200px;
    text-align: left;
    width: 100%;
    max-width: 200px;
  }
  .footer-right{
    font-size: 12px;
    text-align: right;
    color: #F8F9FA80;
    width: 100%;
  max-width: 300px;
  }
  .footer-right ul{
    list-style-type: none;
  }
  .footer-right ul li{
    display: inline-block;
    margin-right: 20px;
  }
  .footer-center{
    font-size: 12px;
    text-align: center;
    color: #F8F9FA80;
  }
  .footer-center ul{
    list-style-type: none;
  }
  .footer-center ul li{
    display: inline-block;
    margin-right: 20px;
  }
  .footer-bottom{
    flex: 1;
    height: 50px;
    margin: 0 5px;
    color: #F8F9FA80;
    font-size: 12px;
  }

  .footer-bottom.left{
    text-align: left;
  }
  .footer-bottom.right{
    text-align: right;
  }


  .dot {
    color: #DDBEA9;
  }

  .footer-container {
    width: calc(100% - 200px);
    margin: 0 auto;
  }

  .horizontal-line {
    position: relative;
    border-top: 2px solid #E5E5E533;
    width: calc(100%);
    margin-top: -1px;
  }

  .main-image {
    text-align: left;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
  }
  .main-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F8F9FA;
    font-size: 25px;
  }

  .main-image-text p {
    color: #E5E5E5;
    font-weight: lighter;
  }

  .main-image-bottom-text {
    position: absolute;
    color: #E5E5E5;
    font-weight: lighter;
    font-size: 12px;
    bottom: 10px;
  }

  .main-image-bottom-text td {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .main-image-bottom-text svg {
    margin-right: 10px;
  }
  .main-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 20px;
    max-width: 1100px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-content {
    width: 45%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
    margin-right: 10px;
    font-size: 12px;
  }

  .main-content:nth-child(2) {
    flex: 1.7;
  }

  .separator {
    margin-right: 10px;
  }

  .topic-search {
    margin-top: 20px;
    color: #49505780;

  }

  .topic-search svg {
    margin-right: 5px;
    vertical-align: middle;
  }

  .article-container {
    display: flex;
    flex-direction: row;
  }

  .article-image{
    width: 45%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-right: 10px;
    flex: 1;
    text-align: center;
  }

  .article-image img {
    object-fit: cover;
  }

  .article-content-container {
    width: 45%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
    margin-right: 10px;
    text-align: left;
  }

  .article-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .article-text {
    font-size: 12px;
    color: #6C757D;
  }

  .title {
    font-size: 16px;
    color: #212529;
    font-weight: bold;
  }

  .article-horizontal-line {
    position: relative;
    border-top: 1px solid #E5E5E5;
    width: calc(100%);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .article-bottom-info {
    display: flex;
    flex-direction: row;
    width: 100%;

  }

  .article-bottom-info-item-left {
    font-size: 12px;
    color: #6C757D;
    width: 100%;
    flex: 1;
    text-align: left;
  }

  .article-bottom-info-item-right {
    font-size: 12px;
    color: #6C757D;
    width: 100%;
    flex: 1;
    text-align: right;
  }

  .article-bottom-info-item-right svg {
    margin-right: 5px;
    vertical-align: middle;
  }

  .pageNumber-container {
    display: flex;
    max-width: 100%;
    justify-content: center;

  }

  .pageNumber {
    margin: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }

  .pageNumber:nth-child(1){
    width: 12px;
    font-weight: bold;
    color: #495057;

  }
  .pageNumber:nth-child(2) {
    width: 12px;
    color: #49505780;

  }

  .pageNumber:nth-child(3) {
    width: 61px;
    color: #49505780;

  }

  .underline {
    position: relative;
    color: #495057;
  }
  .underline::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #DDBEA9;
    border-radius: 2px;
  }

  
